*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
.navbar {
    padding-left: 20px;
}
/* #About {
    height: 100vh;
} */
.enddd{
    float: right;
}
.row {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
}

.font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

#height{
    /* margin: 30px 40px; */
    transform: rotate(-5deg);
    position: relative;
    z-index:2;
}
#About {
    /* transform: scale(.9); */
}
#Aboutme {
    transform: rotate(5deg);
}
#red-sqre{
    position: absolute;
    bottom: -190px;
    width: 77%;
    right: 0px;
    height: 50%;
    margin-right: 0 !important;
}
#git {
    
}
.table {
    /* color: black; */
    --bs-table-bg: black;
    --bs-table-color: white;
}
#card-row2 {
    align-self: ;
}
#timeline-items {
    border-bottom: 1px solid white;
}
#reviews {
    height: auto;
}
#reviews img {
    border-radius: 25px;
    position: relative;
    left: 38%;
}

@media screen and (max-width: 300px) {
    #height {
        /* margin: 30px 40px; */
        transform: rotate(0);
        position: relative;
        z-index: 2;
    }

    #height img{
        display: none;
    }

    #height p, #abt-me{
        /* margin: 30px 40px; */
        transform: rotate(-5deg);
        position: relative;
        z-index: 2;
        position: relative;
        top: 295px;
    }
}

@media screen and (min-width: 321px) and (max-width: 720px) {
    #height {
        /* margin: 30px 40px; */
        transform: rotate(0deg);
        z-index: 2;
        height: auto;
    }

    #height p, #abt-me{
        /* margin: 30px 40px; */
        transform: rotate(-5deg);
        position: relative;
        z-index: 2;
        height: auto;
    }
}

@media screen and (min-width: 721px) and (max-width: 1080px) {
    
}